* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    background: #222;
    color: white;
    font: 16px Helvetica;
    font-weight: 100;
    text-transform: lowercase;
}
#canv {
    background: #333;
}
#controls {
    position: fixed;
    top: 0;
}
#controls .control {
    display: block;
}
