* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    background: #222;
    color: #ccc;
    font: 16px Courier New;
    font-weight: 100;
    text-transform: lowercase;
}
#canv {
    background: #333;
}
#controls {
    position: fixed;
    top: 0;
    padding: 5px;
}
.control {
    display: block;
}
.control label {
    display: inline-block;
    width: 120px;
}
.control input {
    vertical-align: middle;
}
#play_button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
    background: none;
    border: none;
    font-size: 40px;
}
