* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    background: #222;
    color: #ddd;
    font: 15px Trebuchet MS;
    font-weight: 100;
    text-transform: lowercase;
}
#canv {
}
#controls {
    position: fixed;
    top: 0;
    padding: 5px;
}
.control {
    display: block;
}
.control label {
    display: inline-block;
    width: 90px;
}
.control label:first-of-type {
    text-align: right;
}
.control input {
    vertical-align: middle;
    margin: 0 10px;
}
#play_button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
    background: none;
    border: none;
    font-size: 40px;
}
